<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="{% url 'register' %}">CRUD</a>


  {% if tag %}
    <h2> Posts tagged with "{{tag.name}}"</h2>
  {% endif %}



   {% for post in posts %}
   <h2> <a href="{{ post.get_absolute_url }}">{{post.title}}</a> </h2>
   <p>{{post.publish}} by {{post.author}} </p>



    Tags:
      {% for tag in post.tag_obj.all %}
         <a href="{% url 'blogapp:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
         </a>
         {% if not forloop.last %},
         {% endif %}
      {% endfor %}





   <p>{{post.body | truncatewords:30 | linebreaks }}</p>

   {% endfor %}
   {% include 'paginator.html' with page_obt=posts %}


</body>
</html>