<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{post.title}}</h2>
    <p>{{post.publish}} by {{post.author}}</p>
    <p>{{post.body | linebreaks }}</p>
    <p><a href="{% url 'blogapp:post_share' post.id %}"> Share this post </a></p>

  <h2>
       comment
  </h2>

{% for comment in comments %}

    <div class="comment">
        <p class="info">
            Comment {{ forloop.counter }} by {{ comment.name }} {{ comment.created }}
        </p>
        {{ comment.body }}
    </div>
    {% empty %}
    <p>
        There are no comments yet
    </p>

{% endfor %}

{% if new_comment %}
<h2> your comment has been added </h2>

{% else %}
<h2>
     Add a new comment
</h2>

<form method="POST">
 {{ comment_form.as_p }}
{% csrf_token %}
    <p> <input type="submit" value="Add Comment"></p>
</form>
{% endif %}
</body>
</html>